include ./lib/header.jade
    script(language="javascript",src="/ford/static/js/index.min.js")
    link(href="/ford/static/css/index.css",rel="stylesheet",type="text/css")
    body
        div#loading=""
        div.menu-background
            div.menu
                div.background=""
                div.title.clearfix
                    div.text.clearfix=""
                    div.close.clearfix=""
        section.swiper-container
            section.swiper-wrapper
                section.swiper-slide(style="background:#000;background-size:100% auto;",class="page page1")
                    div.full-cover(style="background:url('/ford/public/image/background1.png') no-repeat;background-size:100% auto;background-position:center center;")
                    div.music=""
                    div.light=""
                    div.p1-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background2.png') #000 no-repeat;background-size:cover;",class="page page2")
                    div.music=""
                    div.p2-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background3.png') #000 no-repeat;background-size:100% auto;",class="page page3")
                    div.music=""
                    div#p3-first-point.point.base-infinite=""
                    div#p3-second-point.point.base-infinite=""
                    div#p3-third-point.point.base-infinite=""
                    div.p3-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background4.png') #000 no-repeat;background-size:100% auto;",class="page page4")
                    div.music=""
                    div.star-background=""
                    div#p4-first-point.point.base-infinite
                        div.circle=""
                    div#p4-second-point.point.base-infinite
                        div.circle=""
                    div#p4-third-point.point.base-infinite
                        div.circle=""
                    div.p4-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background5.png') #000 no-repeat;background-size:cover;",class="page page5")
                    div.music=""
                    div.p5-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background6.png') #000 no-repeat;background-size:100% auto;",class="page page6")
                    div.music=""
                    div#p6-first-point.point.base-infinite=""
                    div#p6-second-point.point.base-infinite=""
                    div.p6-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background7.png') #000 no-repeat;background-size:cover;",class="page page7")=""
                    div.music=""
                    div.p7-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background8.png') #000 no-repeat;background-size:100% auto;",class="page page8")
                    div.music=""
                    div#p8-first-point.point.base-infinite=""
                    div#p8-second-point.point.base-infinite=""
                    div.p8-car-outer.base=""
                    div.p8-car.base=""
                    div.p8-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background9.png') #000 no-repeat;background-size:cover;",class="page page9")
                    div.music=""
                    div.p9-text.base=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                section.swiper-slide(style="background:url('/ford/public/image/background10.png') #000 no-repeat;background-size:100% auto;",class="page page10")
                    div.music=""
                    div.p10-text.base=""
                    div#p10-first-point.point.base-infinite=""
                    div.left-logo=""
                    div.up=""
                    div.right-logo=""
                    div.p10-text-bottom.base=""
